<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
        * { margin: 0; padding: 0; }
        @page {margin-top: 12mm; margin-bottom: 12mm; margin-header: 0mm;margin-footer: 0mm;}
        body { font-family: 'Montserrat', sans-serif; font-size: 12px; }
        table td, table th { border: 1px solid black; padding: 5px; }
        p {margin: 0px; padding: 0px}
        h4 {margin: 0px; padding: 0px}
        textarea { border: 0; font-size: 14px; font-family: 'Montserrat', sans-serif;overflow: hidden; resize: none; }
        table { border-collapse: collapse; }
        .mb-2{margin-bottom: 2mm}
        .bg{background-color: red;}
        .bg1{background-color: blue;}
        .mask
        {
            border-style: solid;
            border-width: 0 0 3px 3px;
            position: absolute;
            float: right;
            clear: none;
            right: -3px;
            top: -3px;
            background-color: white;
            width: 50%;
            height: 4em;
        }
    </style>
  <title>Architectural Permit</title>
</head>

<body>
  <div style="">
      <table width="100%">
          <tr>
              <td width="100%" style="text-align:center; border:0px solid black;">
                  <p style="">Republic of the Philippines</p>
                  <p style="">City/Municipality of/{{MUNCIPALITY}}</p>
                  <p style="">Provision of {{MUNCIPALITY}}</p>
                  <p style="text-transform: uppercase;"><strong>OFFICE OF THE BUILDING OFFICIAL</strong></p>
              </td>
          </tr>
          <tr>
              <td width="100%" style="text-align:center; border:0px solid black;">
                  <h2 style="text-transform: uppercase;">ARCHITECTURAL PERMIT</h2>
              </td>
          </tr>
      </table>
      <div style="width: 27%; float:left; ">
          <p style="font-weight: 500;">APPLICATION NO.</p>
          <table>
              <tr>
                 {{Applicationno}}
              </tr>
          </table>
      </div>
      <div style="width:36%; float:left; padding-left: 15%;">
          <p style="font-weight: 500;">AP NO.</p>
          <table style="text-align:right;">
              <tr>
                  <td style="width:18px; height: 18px;"></td>
                  <td style="width:18px; height: 18px;"></td>
                  <td style="width:18px; height: 18px;"></td>
                  <td style="width:18px; height: 18px;"></td>
                  <td style="width:18px; height: 18px;"></td>
                  <td style="width:18px; height: 18px;"></td>
                  <td style="width:18px; height: 18px;"></td>
                  <td style="width:18px; height: 18px;"></td>
              </tr>
          </table>
      </div>
      <div style="width: 21%; float:right;">
          <p style="font-weight: 500; padding: 0px;">BUILDING PERMIT NO.</p>
          <table>
              <tr>
                  {{permitno}}
              </tr>
          </table>
      </div>

      <div style="clear: both;"></div>

      <table width="100%" style="padding:0px">
          <tr>
              <td style="border:0px solid black; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%;">
                  <h4 style="padding:0px">BOX 1(TO BE ACCOMPLISHED IN PRINT BY OWNER/APPLICANT)</h4>
              </td>
          </tr>
      </table>

      <table width="100%" style="font-size:11px; padding:0px;">
          <tr>
              <td style="border: solid 1px #000; border-right: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  OWNER/APPLICANT
              </td>
              <td style="border: solid 1px #000; border-right: none; border-left: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  LAST NAME <br> <b>{{lastname}}</b>
              </td>
              <td style="border: solid 1px #000; border-right: none; border-left: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  FIRST NAME <br><b>{{firstname}}</b>
              </td>
              <td style="border: solid 1px #000; border-right: none; border-left: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  MIDDLE NAME<br><b>{{middlename}}</b>
              </td>
              <td style="width:20%; border: solid 1px #000; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  TIN <br> {{acctno}}
              </td>
          </tr>
      </table>

      <table width="100%" style="font-size:11px;">
          <tr>
              <td style="width:33%; height:40px; border:none; border-right: solid 1px #000; border-left: solid 1px #000; vertical-align: top;">
                  FOR CONSTRUCTION OWNED<br>BY AN ENTERPRISE
              </td>
              <td style="width:33%; height:40px; border:none; border-right: solid 1px #000; border-left: solid 1px #000; vertical-align: top;">
                  FORM OF OWNERSHIP <br> <b>{{formogowner}}</b>
              </td>
              <td style="width:33%; height:40px; border:none; border-right: solid 1px #000; border-left: solid 1px #000; vertical-align: top;">
                  MAIN ECONOMIC ACTIVITY/XIND<br><b>{{maineconomy}}</b>
              </td>
          </tr>
      </table>

      <table width="100%" style="font-size:11px; padding:0px;">
          <tr>
              <td style="border: solid 1px #000; border-right: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  ADDRESS<br><b>{{subdivision}}</b>
              </td>
              <td style="border: solid 1px #000; border-right: none; border-left: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  NO.<br><b>{{houseno}}</b>
              </td>
              <td style="border: solid 1px #000; border-right: none; border-left: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  STREET<br><b>{{street}}</b>
              </td>
              <td style="border: solid 1px #000; border-right: none; border-left: none; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  BARANGAY<br><b>{{barangay}}</b>
              </td>
              <td style="border: solid 1px #000; height: 35px; border-right: none; border-left: none; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  CITY/MUNICIPALITY<br><b>{{MUNCIPALITY}}</b>
              </td>
              <td style="border: solid 1px #000; height: 35px; border-left: none; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  ZIP CODE
              </td>
              <td style="width:20%; border: solid 1px #000; height: 35px; padding-top:0px; padding-bottom: 0px; vertical-align: top;">
                  TELEPHONE NO.<br><b>{{telephone}}</b>
              </td>
          </tr>
      </table>

      <table width="100%" style="font-size:11px;">
          <tr>
              <td style="width: 100%; border: solid 1px #000; border-bottom: none; border-top: none; height: 25px; padding-top:0px; padding-bottom: 0px;">
                  <span>LOCATION OF CONSTRUCTION</span> &nbsp;&nbsp; 
                  <span>Lot No.<u>&nbsp;&nbsp;&nbsp;&nbsp;{{lotno}}&nbsp;&nbsp;&nbsp;&nbsp;</u> </span>
                  <span>Blk NO.<u>&nbsp;&nbsp;&nbsp;&nbsp;{{blkno}}&nbsp;&nbsp;&nbsp;&nbsp;</u> </span>
                  <span>TCT NO.<u>&nbsp;&nbsp;&nbsp;&nbsp;{{tctno}}&nbsp;&nbsp;&nbsp;&nbsp;</u> </span>
                  <span>Tax Dec. NO.<u>&nbsp;&nbsp;&nbsp;&nbsp;{{taxdecno}}&nbsp;&nbsp;&nbsp;&nbsp;</u> </span>
              </td>
          </tr>
          <tr>
              <td style="width: 100%; border: solid 1px #000; border-top: none; height: 25px; padding-top:0px; padding-bottom: 0px;">
                  <span>Street<u>&nbsp;&nbsp;&nbsp;&nbsp;{{streetnew}}&nbsp;&nbsp;&nbsp;&nbsp;</u> </span>
                  <span>Barangay<u>&nbsp;&nbsp;&nbsp;&nbsp;{{barangay}}&nbsp;&nbsp;&nbsp;&nbsp;</u></span>
                  <span>City/Municipality of <u>&nbsp;&nbsp;&nbsp;&nbsp; {{location}}&nbsp;&nbsp;&nbsp;&nbsp;</u> </span>
              </td>
          </tr>
      </table>

      <table width="100%" style="font-size:11px;">
          <tr>
              <td colspan="3" style="text-align:left; border:1px solid black; border-bottom: 0px; border-top:0px">
                  <strong>SCOPE OF WORK:</strong>
              </td>
          </tr>
          <tr>
              <td style="width:100%; border:none; border-bottom:1px solid black; border-right: 1px solid black; border-left: solid 1px #000; vertical-align: top;">
                  <table width="100%" style="font-size:10px;">
                          {{scopeofwork}}
                  </table>
              </td>
          </tr>
      </table>

      <table width="100%" style="padding:0px">
          <tr>
              <td style="border:0px solid black; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 100%;">
                  <h4 style="padding:0px">BOX 2 (TO BE ACCOMPLISHED BY THE DESIGN PROFESSIONAL)</h4>
              </td>
          </tr>
      </table>

      <table width="100%" style="border:1px solid black;">
          <tr>
              <td colspan="4" style="border-bottom: none; font-size:10px">
                  <strong>1. ARCHITECTURAL FACILITIES AND OTHER FEATURES PURSUANT TO BATAS PAMBANSA BLANG 344, RECURRING CERTAIN &nbsp;&nbsp;&nbsp;&nbsp;BUILDING, INSTITUTIONS, ESTABLISHMENTS AND PUBLIC AND UTILITIES TO INSTALL FACILITIES AND OTHER DEVICES</strong>
              </td>
          </tr>
          <tr>
              <td style="width:100%; border:none; border-bottom:1px solid black; border-top:none; border-right: 1px solid black; border-left: 1px solid black; vertical-align: top;">
                  <table style="font-size:10px;width:100%">
                      {{electricfeature}}
                  </table>
              </td>
          </tr>
      </table>

      <table width="100%" style="border:1px solid black; border-top:none;">
          <tr>
              <td width="35%" style="text-align:left; border:1px solid black; border-top: none; font-size:10px; text-transform: uppercase; vertical-align: top;">
                  <strong>2. Percentage OF Site Occupancy</strong>
                  <table width="100%" style="font-size:10px;">
                      <tr>
                          <td style="border:none; padding:2px;">
                              Percentage OF Building Footprint <u>&nbsp;&nbsp;{{footprint}}&nbsp;&nbsp;</u>%
                          </td>
                      </tr>
                      <tr>
                          <td style="border:none; padding:2px;">
                              Percentage OF Impervious Surface Area <u>&nbsp;&nbsp;{{imperviousarea}}&nbsp;&nbsp;</u>%
                          </td>
                      </tr>
                      <tr>
                          <td style="border:none; padding:2px;">
                              Percentage OF Unpaved Surface Area <u>&nbsp;&nbsp;{{unpavedarea}}&nbsp;&nbsp;</u>%
                          </td>
                      </tr>
                      <tr>
                          <td style="border:none; padding:2px;">
                              OTHERS (Specify)<u>&nbsp;&nbsp;{{otherper}}&nbsp;&nbsp;</u>
                          </td>
                      </tr>
                  </table>
              </td>
              <td width="65%" style="text-align:left; border:1px solid black; border-top:none;">
                  <strong style="font-size:10px;">3. COMFORMANCE TO FIRE CODE OF THE PHILIPPINES (P.D 1185)</strong>
                  <table width="100%" style="font-size:10px; padding: 0px;">
                     {{comformancefire}}
                  </table>
              </td>
          </tr>
      </table>

      <table width="100%" id="summary" style="border:none;">
          <tr>
              <td width="49%" style="text-align:left; border:none; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                  <h4 style="padding:0px">BOX 3</h4>
              </td>
              <td width="49%" style="text-align:left; border:none; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 1%;">
                  <h4 style="padding:0px">BOX 4</h4>
              </td>
          </tr>
      </table>

      <table width="100%" style="border:none;">
          <tr>
              <td width="49%" style="text-align:left; border:0px solid black; padding-right:1%; padding-left: 0px; padding-top: 0px; padding-bottom:0px;">
                  <table width="100%" style="border:1px solid black; font-size: 10px;">
                      <tr>
                          <td style=" width:100%; text-align:left;border-bottom:1px solid black;">DESIGN PROFESSIONAL,PLANS AND SPECIFICATIONS</td>
                      </tr>
                      <tr>
                          <td style="width:100%; padding:0px; text-align:center;border-bottom:1px solid black; padding-top:10px">{{signfullname}}<br>_______________________<br> Date {{signdateissued}} <br>
                            ARCHITECT<br>
                            (Signed and Sealed Owner/Partner Name)
                          </td>
                      </tr>
                      <tr>
                          <td style="width:100%; text-align:left; border-bottom:1px solid black;">Address : {{signaddress}}</td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:50%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">
                                          PRC NO {{signprcno}}
                                      </td>
                                      <td style="width:50%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">
                                          Validity {{signvalidity}}
                                      </td>
                                  <tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">APAO No. </td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">O.R. No.</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Date of Issue {{signplaceissued}}</td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">PTR NO.</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Place Issued</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Date Issued</td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td style="width:100%; text-align:left; border:1px solid black;">TIN</td>
                      </tr>
                  </table>
              </td>
              <td width="49%" style="text-align:left; border:0px solid black; padding-left:1%; padding-right: 0px; padding-top: 0px; padding-bottom:0px;">
                  <table width="100%" style="border:1px solid black; font-size: 10px;">
                      <tr>
                          <td style=" width:100%; text-align:left;border-bottom:1px solid black;">SUPERVISOR /IN CHARGE OF ARCHITECTURAL WORK</td>
                      </tr>
                      <tr>
                          <td style="width:100%; padding:0px; text-align:center;border-bottom:1px solid black; padding-top:10px">{{inchargefullname}}<br>_______________________<br> Date {{inchargedateissued}} <br>
                            ARCHITECT<br>
                            (Signed and Sealed Owner/Partner Name)
                          </td>
                      </tr>
                      <tr>
                          <td style="width:100%; text-align:left; border-bottom:1px solid black;">Address : {{inchargeaddress}}</td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:50%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">
                                          PRC NO  {{inchargeprcno}}
                                      </td>
                                      <td style="width:50%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">
                                          Validity  {{inchargevalidity}}
                                      </td>
                                  <tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">APAO No.</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">O.R. No.</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Date of Issue </td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">PTR NO:  {{inchargeptrno}}</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Place Issued: {{inchargedateissued}}</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Date Issued:  {{inchargeplaceissued}}</td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                      <tr>
                          <td style="width:100%; text-align:left; border:1px solid black;">TIN: {{inchargetin}}</td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>

      <table width="100%" id="summary" style="border:none;">
          <tr>
              <td width="49%" style="text-align:left; border:none; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                  <h4 style="padding:0px">BOX 5</h4>
              </td>
              <td width="49%" style="text-align:left; border:none; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 1%;">
                  <h4 style="padding:0px">BOX 6</h4>
              </td>
          </tr>
      </table>

      <table width="100%" style="border:none;">
          <tr>
              <td width="49%" style="text-align:left; border:0px solid black; padding-right:1%; padding-left: 0px; padding-top: 0px; padding-bottom:0px;">
                  <table width="100%" style="border:1px solid black; font-size: 10px;">
                      <tr>
                          <td style=" width:100%; text-align:left;border-bottom:1px solid black;">BUILDING OWNER</td>
                      </tr>
                      <tr>
                          <td style="width:100%; padding:0px; text-align:center;border-bottom:1px solid black; padding-top:10px">{{applicantname}}<br>_______________________<br> Date_________________<br>
                            <br>
                            (Signed and Sealed Owner/Partner Name)
                          </td>
                      </tr>
                      <tr>
                          <td style="width:100%; text-align:left; border-bottom:1px solid black;">Address : {{applicantaddress}}</td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">C.T.C No. {{appctcno}}</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">O.R. No.</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Date of Issue {{appdateissued}}</td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                  </table>
              </td>
              <td width="49%" style="text-align:left; border:0px solid black; padding-left:1%; padding-right: 0px; padding-top: 0px; padding-bottom:0px;">
                  <table width="100%" style="border:1px solid black; font-size: 10px;">
                      <tr>
                          <td style=" width:100%; text-align:left;border-bottom:1px solid black;">WITH MY CONSENT LOT OWNER</td>
                      </tr>
                      <tr>
                          <td style="width:100%; padding:0px; text-align:center;border-bottom:1px solid black; padding-top:10px">{{lotname}}<br>_______________________<br> Date_________________<br>
                            <br>
                            (Signed and Sealed Owner/Partner Name)
                          </td>
                      </tr>
                      <tr>
                          <td style="width:100%; text-align:left; border-bottom:1px solid black;">Address: {{lotaddress}} </td>
                      </tr>
                      <tr>
                          <td style="padding:0px">
                              <table style="width:100%">
                                  <tr>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">C.T.C No. {{lottaxcert}}</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">O.R. No.</td>
                                      <td style="width:33.33%; text-align:left; border-top:0px solid black; border-right:0px solid black; border-bottom: 0px solid black; border-left: 0px solid black;">Date of Issue {{lotplaceissued}}</td>
                                  </tr>
                              </table>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>
    </div>

    <div style="">
        <h4 style="padding:0px">TO BE ACCOMPLISHED BY THE PROCESSING AND EVALUATION DIVISION</h4>
        <table width="100%" id="summary" style="border:none;">
            <tr>
                <td width="100%" style="text-align:left; border:none; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                    <h4 style="padding:0px">BOX 7</h4>
                </td>
            </tr>
        </table>
      
        <table width="100%" style="border:1px solid black; font-size: 10px;">
            <tr>
                <td style=" width:50%; text-align:left; border-bottom:1px solid black;">RECEIVED BY</td>
                <td style=" width:50%; text-align:left;border-bottom:1px solid black;">Date</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center; border-top:0px solid black; border-right:1px solid black; border-bottom:0px solid black; border-left:1px solid black;"><h3 style="padding:0px">FIVE (5) SETS OF ARCHITECTURAL DOCUMENTS</h3></td>
            </tr>
            <tr>
                <td style="width:50%; text-align:left; vertical-align: top; border-top:0px solid black; border-right:0px solid black; border-bottom:1px solid black; border-left:1px solid black;">
                    <table width="100%" style="font-size:10px;">
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">1. VICINITY MAP/LOCATION PLAN WITH A TWO-KILOMETER RADIUS
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">2. SITE DEVELOPMENT
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">3. PERSPECTIVE
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">4. FLOOR PLANS
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">5. EVEVATIONS, AT LEAST FOUR (4)
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">6. SECTIONS, AT LEAST TWO (2)
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">7. CEILING PLANS SHOWING LIGHTING FIXTURES AND OFFUSERS
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width:50%; text-align:left; border-top:0px solid black; border-right:1px solid black; border-bottom:1px solid black; border-left:0px solid black;">
                    <table width="100%" style="font-size:10px;">
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">8. DETAILS OF RAMPS, PARKING FOR THE DISABLED, STAIRS, FIRE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESCAPES, CABINETS, AND PARTITIONS
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">9. SCHEDULE OF DOORS AND WINDOWS
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">10. SCHEDULE OF FINISHES FOR FLOOR, CEILINGS AND WALLS
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">11. ARCHITECTURAL INTERIOR
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">12. SPECIFICATION
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">13. COST ESTIMATE
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                <img src="/dev/assets/images/unchecked-checkbox.jpg" style="height:15px; width:15px; padding-right:5px; vertical-align: middle;">14. OTHERS(Specify)
                            </td>
                        </tr>
                        <tr>
                            <td style="border:none; padding:2px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________________________________________________________________<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table width="100%" id="summary" style="border:none;">
            <tr>
                <td width="100%" style="text-align:left; border:none; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                    <h4 style="padding:0px">BOX 8</h4>
                </td>
            </tr>
        </table>

        <table width="100%" style="border:none;">
            <tr>
                <td colspan="6" style="text-align:center;"><h4>PROGRESS FLOW</h4></td>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td colspan="2" style="text-align:center;">IN</td>
                <td colspan="2" style="text-align:center;">OUT</td>
                <td rowspan="2" style="text-align:center;">PROCESSOD BY:</td>
            </tr>
            <tr>
                <td style="text-align:center;">DATE</td>
                <td style="text-align:center;">TIME</td>
                <td style="text-align:center;">DATE</td>
                <td style="text-align:center;">TIME</td>
            </tr>
            <tr>
                <td>ARCHITECTURAL DRAWINGS</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SPECIFICATIONS</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>OTHERS (Specify)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <table width="100%" style="border:none;">
            <tr>
                <td width="100%" style="text-align:left; border:none; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;">
                    <h4 style="padding:0px">BOX 9</h4><br><br>
                </td>
            </tr>
        </table>

        <table width="100%" style="border:none;">
            <tr>
                <td width="100%" style="text-align:left; border:solid 1px black; border-bottom: 0px; line-height:20px;">
                    <h4>ACTION TAKEN:</h4><br>
                    <h4>PERMIT IS HEREBY ISSUED SUBJECT TO THE FOLLOWING:</h4>
                    <p style="">1. That under Article 1723 of the Civil Code of the Philippines, the architect (and engineer) who drew up the plans and specifications for the building/structure is responsible for damages if within fifteen (15) years from the completion of the building/structure, the same should collapse due to defect in the plans or specifications or defects in the ground. The engineer or architect who supervises the construction shall be solidarly liable with the contractor should the edifice collapse due to defect in the construction or the use of interior materials.</p>
                    <p>2. That the proposed architectural works shall be in accordance with the architectural plans field with this Office and in conformity with the latest Architectural Code of the Philippines, the National Building Code and its IRR.</p>
                    <p>3. That Prior to any construction activity, duly accomplished prescribed <strong>"Notice of Construction"</strong> shall be submitted to the Office of the Building Official.</p>
                    <p>4. That upon completion of the constrution, the licensed full-time inspector and supervisor/in-charge of construction works shall submit the entry to the logbook duly signed and sealed to the building official including as-built plans and other documents, and shall also accomplish the Certificate of Completion stating that the architectural works conform to the provision of the Architectural Code, the National Building Code and its IRR.</p>
                    <p>5. That this permit is null and void unless accomparied by the building permit.</p><br>
                    <h4>PERMIT ISSUED BY:</h4><br><br>
                </td>
              </tr>
              <tr>
                <td style="text-align:center; border-top: 0px;"> {{bldofficialname}} <br><strong>BUILDING OFFICIAL</strong><br>Signature Over Printed Name<br>Date ____________________</td>
            </tr>
        </table>

    </div>
</body>
</html>