<style type="text/css">
	*{ margin: 0; padding: 0;}
	@page {margin-top: 12mm; margin-bottom: 12mm; margin-header: 0mm;margin-footer: 0mm;}
    body { font-family: 'Montserrat', sans-serif;font-size: 12px; }
    table{border: none;}
    table td, table th { padding: 5px; }
    table.noborder{border: none;}
    td.noborder{border: nonex;}
    .mainborder {border: 3px solid black;}
    .insideborder {border: 1px solid black; margin:2px;}:
    .w100{width: 100%}
	.w60{width: 60%}
	.w50{width: 50%}
	.w40{width: 40%}
	.w30{width: 30%}
	.w20{width: 20%}
</style>

<body style="background: #fff;">
	<div style="border: none;">
        <div style="">
	        <table width="100%" class="noborder">
	            <tr>
	                <td class="noborder" style="padding:0px; width: 10%;">&nbsp;</td>
	                <td class="noborder" style="padding:0px; width: 80%; text-align:center;">
	                    <p>&nbsp;</p>
	                    <p><strong>&nbsp;</strong></p>
	                    <h3><strong>&nbsp;</strong></h3>
	                    <p>&nbsp;</p>
	                    <p>&nbsp;</p>
	                    <p><strong>&nbsp;</strong></p>
	                    <p>&nbsp;</p>
	                    <p>&nbsp;</p>
	                    <p>&nbsp;</p>
	                </td>
	                <td class="noborder" style="padding: 0px; width: 10%; text-align:right;">&nbsp;</td>       
	            </tr>
	        </table>
	        <table style="width:100%;" class="noborder" width="100%" style="margin-top: 30px;">
	            <tr>
	                <td style="width: 70%; text-align: left; padding-left: 200px;">
	                	<h2 style="text-decoration: uppercase; color:red;">&nbsp;<span style=""> {{fsic}} </span>
	                	</h2>
	                </td>
	                <td style="width: 30%; text-align: center; padding-right: 100px;padding-top: 10px;">
	                	<p style="float: right; text-align: center;">
	                		<span style=""> {{bfpcert_approved_date}}</span> 
	                		<br>
	                		<span> &nbsp;</span> 
	                	</p>
	                </td>
	            </tr>
	        </table>
	        <table style="width:100%; padding-top:5px;padding-left: 27px;margin-top: px;">
	        	<tr>
	        		<td colspan="3" style="text-align:center; color: #000000; padding:0px"><h1>&nbsp;</h1></td>
	        	</tr>
	        	<tr>
	        		<td style="width:25%;"></td>
	        		<td style="padding-top: 10px; width:50%; ">
	        			<p>
	        				
	        				<span style="width:16px;">&nbsp; </span>
	        				<span >&nbsp; </span>
	        			</p>
	        			<p>
							<span  style='font-size:20px;width:16px;'>&#10004;</span>
	        				<span style="margin-top: -10px;">&nbsp;</span>
	        			</p>
	        			<p>
	        				<span style="width:16px;">&nbsp; </span>
	        				<span >&nbsp; </span>
	        			</p>
	        		</td>
	        		<td style="width:25%;"></td>
	        	</tr>
	        </table>
	        <table style="width:100%;">
	        	<tr>
	        		<td style="text-align:left; padding-top:5px;">
	        			<h3>&nbsp;</h3>
	        		</td>
	        	</tr>
	        </table>
	        <table width="100%" style="width:100%;">
	        	<tr style="width: 100%;">
	        		<td width='100%' style="width:100%; text-align:left; padding: 0px; line-height: 20px;">
	        			<p style="font-size: 13px; word-spacing: 10px;">
	        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>
	        			</p>
	        		</td>
	        	</tr>
	        </table>
	        <table width="100%" style="margin-top: 2px;">
	            <tr>
	                <td width='100%' style="text-align: center; padding: 0px;"><h2 style="text-decoration: uppercase;"> {{busn_name}} </h2></td>  
	            </tr>
	            <tr>
	                <td width='100%' style="text-align: center; padding: 0px;">
	                	<p style="text-decoration: uppercase; font-style: italic;"></p>
	                </td>
	            </tr>
	        </table>
	        <table width="100%" style="margin-top:-3px;">
	            <tr>
	            	<td width="30%" style="padding:0">
	            		<p style="font-size: 13px; word-spacing: 8px;">&nbsp;</p>
	            	</td>
	                <td width="43%" style="text-align: center; padding: 0px;padding-top: 10px; ">
	                	<h3 style="text-decoration: uppercase;"> {{client}} </h3>
	                </td>
	                <td width="27%" style="padding:0">
	                	<p style="font-size: 13px; word-spacing: 8px; ">&nbsp;</p>
	                </td>
	            </tr>
	            <tr>
	                <td colspan="3" style="text-align: center; padding: 0px;">
	                	<p style="text-decoration: uppercase; font-style: italic;">&nbsp;</p>
	                </td>
	            </tr>
	        </table>
	        <table width="100%" style="margin-top:-5px;">
	            <tr>
	                <td width='100%' style="text-align: center; padding: 0px;"><h4 style="text-decoration: uppercase;">BRGY. {{address}} </h4></td>  
	            </tr>
	            <tr>
	                <td width='100%' style="text-align: center; padding: 0px;">
	                	<p style="text-decoration: uppercase; font-style: italic;">&nbsp;</p>
	                </td>
	            </tr>
	        </table>
	        <table width="100%" style="width:100%;">
	        	<tr style="width: 100%;">
	        		<td width='100%' style="width:100%; text-align:left; padding: 0px; line-height: 20px;">
	        			<p style="font-size: 13px; word-spacing: 5px;">
	        				&nbsp;
	        			</p>
	        		</td>
	        	</tr>
	        </table>
	        <table width="100%" style="padding-top:15px">
	            <tr>
	            	<td width="40%" style="padding:0">
	            		<p style="font-size: 13px; word-spacing: 8px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	            	</td>
	                <td width="65%" style="text-align: center; padding: 0px;padding-top: 15px;">
	                	<span style="text-decoration: uppercase;"> {{busn_name}} </span> <b>with {{area}} sqm floor area</b>
	                </td>
	            </tr>
	            <tr>
	            	<td width="40%"></td>
	                <td width="60%" style="text-align: center; padding: 0px;">
	                	<p style="text-decoration: uppercase; font-style: italic;">&nbsp;</p>
	                </td>
	            </tr>
	        </table>

	        <table width="100%" style="padding-top:0px;margin-top: -10px;">
	            <tr>
	            	<td width="60%" style="text-align: center; padding: 0px;padding-left: 40px;">
	                	<span style="text-decoration: uppercase;">located at</span> <span>BRGY. {{address}}</span>
	                </td>
	            	<td width="10%" style="padding:0">
	            		<p style="font-size: 13px; word-spacing: 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	            	</td>
	            	<td width="30%" style="text-align: center; padding: 0px;">
	                	<b> {{bfpcert_date_expired}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
	                </td>
	                
	            </tr>
			</table>
            <table width="100%" style="width:100%; padding-top:30px;">
	        	<tr style="width: 100%;">
	        		<td width='100%' style="width:100%; text-align:left; padding: 0px; line-height: 20px;">
	        			<p style="font-size: 13px; word-spacing: 7px;">
	        				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        			</p>
	        		</td>
	        	</tr>
	        </table>

	        <table style="width:100%; padding-top:10px; float: left;">
	        	<tr>
	        		<td style="width:50%; padding:0px;">
	        			<table style="width:100%; padding-top:5px; float: left;">
				        	<tr>
				        		<td colspan="3" style="text-align:left; padding:0px; "><b>&nbsp;</b></td>
				        	</tr>
				        	<tr>
				        		<td style="padding: 0px; width:100%;padding-left: 200px;">
				        			<p>
				        				<span>₱ {{oramount}} </span>
				        			</p>
				        		</td>
				        	</tr>
				        	<tr>
				        		<td style="padding: 0px; width:100%;padding-left: 200px;">
				        			<p>
				        				<span>{{orno}} </span>
				        			</p>
				        		</td>
				        	</tr>
							
							<tr>
				        		<td style="padding: 0px; width:100%;padding-left: 200px;">
				        			<p style="text-align: center; padding: 0px; ">
				        				<span><span style="text-align: center; padding: 0px; width: 100%;"> {{ordateformart}} </span>
				        			</p>
				        		</td>
				        	</tr>
				        </table>
	        		</td>
	        		<td style="width:50%; padding:0px;">
	        			<table style="width:100%; padding-top:5px;">
				        	<tr>
				        		<td style="text-align:left; padding:0px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
				        	</tr>
				        	<tr>
				        		<td></td>
				        	</tr>
							
				        	<tr>
				                <td width="65%" style="text-align: center; padding: 0px;font-size: 14px; ">
				                	<b> {{recommending}} </b>
				                </td>
				            </tr>												
		            		<tr>
				                <td width="60%" style="text-align: center; padding: 0px;">
				                	<p style="text-decoration: uppercase;"> &nbsp; </p>
				                </td>
				            </tr>
				        </table>
	        		</td>
	        	</tr>
	        </table>

	        <table style="width:100%; padding-top:0px;">
	        	<tr>
	        		<td style="width:50%;">
	        			<table style="width:50%; float: left;">
				        	<tr>
				        		<td colspan="3" style="text-align:left; padding:0px; "></td>
				        	</tr>
				        	<tr>
				        		<td style="padding: 0px; width:100%;">
				        			
				        		</td>
				        	</tr>
				        	<tr>
				        		<td style="padding: 0px; width:100%;">
				        			
				        		</td>
				        	</tr>
				        	<tr>
				        		<td style="padding: 0px; width:100%;">
				        			
				        		</td>
				        	</tr>
				        </table>
	        		</td>
	        		<td style="width:50%;">
	        			<table style="width:100%;">
				        	<tr>
				        		<td style="text-align:left; padding:0px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
				        	</tr>
				        	<tr>
				        		<td></td>
				        	</tr>
				        	<tr>
				                <td width="65%" rowspan="2" style="text-align: center; padding: 0px;font-size: 15px;padding-top: 15px;">
				                	<p><b>{{approved}} </b></p>
				                </td>
				            </tr>											
			        		
				        </table>
	        		</td>
	        	</tr>
	        </table>
            
			<table width="100%">
	            <tr>
	                <td style="text-align: center;">
	                    <p style="text-align: center; font-style: italic;padding-top:50px;"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
	                </td>
	            </tr>
	        </table>

	        <table width="100%" id="summary" class="noborder">
	            <tr>
	        		<td colspan="3" style="text-align:center; padding-top:2px;padding-bottom: 2px;"><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2></td>
	        	</tr>
			</table>

        	<table width="100%">
                <tr>
                    <td style="text-align: center;">
                    	<p style="; color:red;padding-bottom: 2px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;padding-bottom: 2px;">
                    	<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                    </td>
                </tr>
        	</table>
            <table>
                <tr>
                    <td class="watermark" style="padding:8px; background: #fff;font-weight: 800;">
                    	<b style="font-style:italic;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                    </td>
                </tr>
        	</table>
		</div>
	</div>
	<p style="margin-left:10px;margin-top:0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</body>