<style type="text/css">
	*{ margin: 0; padding: 0;}
	@page {margin-top: 10mm; margin-bottom: 10mm; margin-header: 0mm;margin-footer: 0mm;}
    body { font-family: 'Montserrat', sans-serif;font-size: 12px; }
    table{border: none;}
    table td, table th { padding: 5px; }
    table.noborder{border: none;}
    td.noborder{border: nonex;}
    p {margin: 0px;}
    .mainborder {border: 3px solid black;}
    .insideborder {border: 1px solid black; margin:2px;}:
    .w100{width: 100%}
    .w70{width: 70%}
	.w60{width: 60%}
	.w50{width: 50%}
	.w40{width: 40%}
	.w30{width: 30%}
	.w20{width: 20%}
	.w10{width: 10%}
	.w25{width: 25%}
	.w5{width: 5%;}
	.clear{clear: both;}
	.bt{border-top: solid 1px #000;}
	.br{border-right: solid 1px #000;}
	.bb{border-bottom: solid 1px #000;}
	.bl{border-left: solid 1px #000;}
	.nobt{border-top: none;}
	.nobr{border-right: none;}
	.nobb{border-bottom: none;}
	.nobl{border-left: none;}
	.noborder{border: none;}
	.border{border: solid 1px #000;}
	.fwb{font-weight: bold;}
	.txt-center{text-align: center;}
	.uppercase{text-transform: uppercase;}
	.fl{float: left;}
	.mt30{margin-top: 30px;}
	.mb30{margin-bottom: 30px;}
	.mb40{margin-bottom: 40px;}
	.mt40{margin-top: 40px;}
	.mt45{margin-top: 45px;}
	.mt50{margin-top: 50px;}
</style>
<body style="background: #fff;">
	<div style="border:5px solid #220044; padding:2px">
        <div style="border:1px solid #220044; padding:5px">
			
	        <table width="100%" class="noborder">
	            <tr>
	                <td class="noborder" style="padding:0px; width: 10%;"><img src="{{LOGO}}" style="width:110px; height:110px;"></td>
	                <td class="noborder" style="padding:0px; width: 80%; text-align:center;">
	                    <h3>Republic of the Philippines</h3>
	                    <p><strong>Department of Interior and Local Government</strong></p>
	                    <h3><strong>BUREAU FIRE OF PROTECTION</strong></h3>
	                    <p>REGIONAL OFFICE III</p>
	                    <p>Nueva Ecija Province Office</p>
	                    <p><strong>PALAYAN CITY FIRE STATION - NUEVA ECIJA</strong></p>
	                    <p>(Station Address)</p>
	                    <p>(Telephone/Fax Number:(044) 940-1072/0943 066 962)</p>
	                    <p>Email Address:palayancityfs@gmail.com</p>
	                </td>
	                <td class="noborder" style="padding: 0px; width: 10%; text-align:right;"><img src="{{logoright}}" style="width:100px; height:100px;"></td>       
	            </tr>
	        </table>

	        <table style="width:100%;" class="noborder" width="100%" style="margin-top: 50px;">
	            <tr>
	                <td style="width: 70%; text-align: left; padding-left:0px; padding-bottom:0px; padding-top:0px;">
	                	<h3 style="text-decoration: uppercase;">INSPECTION ORDER</span>
	                	</h3>
	                </td>
	                <td style="width: 30%; text-align: center; padding-left:0px; padding-bottom:0px; padding-top:0px; padding-right: 50px;">
	                	<p style="float: right; text-align: center;">
	                		<span style="border-bottom: solid 1px #220044;"> {{rpc_or_dateformatted_date}} {{formatted_dateMont}} </span> 
	                		<br>
	                		<span> Date</span> 
	                	</p>
	                </td>
	            </tr>
	        </table>

	        <div class="clear"></div>

	        <div style="width:50%" style="padding-top: 10px;">
	        	<p style="float: left; text-align: left; width:60px;">
	        		<span style="font-size: 14px;">NUMBER:</span> 
	        		<br>
	        		<span></span> 
	        	</p>
	        	<p style="float: left; text-align: center;width:150px">
	        		<span style="border-bottom: solid 1px #220044; font-weight: bold; font-size: 14px;"> R4A - <span style="color:red;">{{bio_inspection_no}}</span></span> 
	        		<br>
	        		<span> (Pre-numbered)</span> 
	        	</p>
	        </div>


	        <table style="width:100%; padding-top:30px; font-size: 14px;" cellspacing="0">
	        	<tr>
	        		<td class="fwb border nobb w25">TO</td>
	        		<td class="fwb border nobb w5 nobl txt-center">:</td>
	        		<td class="border nobb w70 uppercase"> {{bio_assigned_to}} </td>
	        	</tr>
	        	<tr>
	        		<td class="fwb border nobb">PROCEED</td>
	        		<td class="fwb border nobb w5 nobl txt-center">:</td>
	        		<td class="border nobb w70 uppercase"> <p>{{bio_inspection_proceed}},</p>
						<p>{{bio_inspection_proceed2}},</p>
						<p>{{bio_inspection_proceed3}},</p>
					</td>
	        	</tr>
	        	<tr>
	        		<td class="fwb border nobb">PURPOSE</td>
	        		<td class="fwb border nobb w5 nobl txt-center">:</td>
	        		<td class="border nobb w70 uppercase"> {{bio_inspection_purpose}} </td>
	        	</tr>
	        	<tr>
	        		<td class="fwb border nobb">DURATION</td>
	        		<td class="fwb border nobb w5 nobl txt-center">:</td>
	        		<td class="border nobb w70 uppercase"> {{bio_inspection_duration}} </td>
	        	</tr>
	        	<tr>
	        		<td class="fwb border">REMARKS OR ADDITIONAL INSTRUCTION/S</td>
	        		<td class="fwb border w5 nobl txt-center">:</td>
	        		<td class="border w70 uppercase"> {{bio_remarks}} </td>
	        	</tr>
	        </table>

	        <div class="w100 fl mt30" style="padding-top:30px;"> 
		        <div class="w40 fl" style="float: left; text-align: center;padding-top: 25px;">
		        	<p class="fwb">RECOMMENDING APPROVAL:</p>
		        	<p class="txt-center"></p>
		        	<p >
		        		<span style="border-bottom: solid 1px #220044; font-weight: bold; font-size: 12px;"> {{RECOMMEND}} </span> 
		        		<br>
		        		<span> {{bio_recommending_position}} </span> 
		        	</p>
		        </div>
		        <div class="w20 fl">&nbsp;</div>
		        <div class="w40 fl" style="float: right; text-align: center;padding-top: 25px;">
		        	<p class="fwb">APPROVED:</p>
		        	<p class="txt-center"></p>
		        	<p>
		        		<span style="border-bottom: solid 1px #220044; font-weight: bold; font-size: 12px;"> {{APPROVED}} </span> 
		        		<br>
		        		<span> {{bio_approved_position}} </span> 
		        	</p>
		        </div>
	        </div>

	        <div class="w100 fl mb30" style="border-bottom: dotted 2px #000;padding-top:20px;"> &nbsp;</div>

	        <table width="100%">
	            <tr>
	                <td width='100%' style="text-align: center; padding: 0px;"><h3 style="text-decoration: uppercase;">ACKNOWLEDGEMENT</h3></td>  
	            </tr>
	            <tr>
	                <td width="100%" style="text-align: center; padding: 5px; font-size:14px;">
	                	<p>This is to acknowledge that permission was granted to the above-named Fire Safety Inspector/s accompanied by authorized representative to conduct Fire Safety Inspection within the premises in accordance with law.</p>
	                </td>
	            </tr>
	        </table>

			
	        <div class="w100 fl" style="padding-top: 30px;"> 
		        <div class="w60 fl" >
		        	<p class="txt-center"></p>
					<p style="float: left; text-align: center;padding-top: 45px;">
		        		<span style=" font-weight: bold; font-size: 12px;"> {{bio_inspection_proceed2}} </span> 
		        		<br>
		        		<span style="border-top: solid 1px #220044;">Signature over Printed Name/Authorized Representative</span> 
		        	</p>
		        	
		        </div>
		        <div class="w30 fl mt45" style="float: right;">
		        	<p style="float: left; text-align: center; width:100%">
		        		<span style="border-bottom: solid 1px #220044; font-weight: bold; font-size: 12px;"> {{rpc_or_dateformatted_date}} {{formatted_dateMontTime}} </span> 
		        		<br>
		        		<span>Date/Time</span> 
		        	</p>
		        </div>
	        </div>
            <table width="100%">
                <tr>
                    <td style="text-align: center; padding-top:30px; padding-bottom:0px;">
                    	<p style="; color:red;">PAALALA: "MAHIGPIT NA IPINAGBABAWAL NG PAMUNUAN NG BUREAU OF FIRE PROTECTION SA MGA KAWANI NITO ANG MAGBENTA O MAGREKOMENDA NG ANUMANG BRAND NG FIRE EXTINGUISHER"</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding: 0px;">
                    	<h2>"FIRE SAFETY IS OUR MAIN CONCERN"</h2>
                    </td>
                </tr>
        	</table>

         	<table>
                <tr>
                    <td style="padding:0px;text-align: center;">
                    	Applications/Owner's COPY
                    </td>
                </tr>
               
        	</table>
		</div>
	</div>
	<strong style="text-align: center;">BFP-QSF-FSED-009 Rev. 01 ({{datefooter}})</strong>
</body>