<style type="text/css">
	*{ margin: 0; padding: 0;}
	@page {sheet-size: Letter; margin-top: 12mm; margin-bottom: 12mm; margin-left: 12mm; margin-right: 11mm; margin-header: 0mm;margin-footer: 0mm; background-image: url("assets/storage/uploads/logo/SanitaryPermit-CHO.png"); background-image-resize: 1; background-repeat: no-repeat;}

    body { font-family: 'Montserrat', sans-serif;font-size: 12px; }
    table{border: none;}
    table td, table th { padding: 5px; }
    table.noborder{border: none;}
    td.noborder{border: nonex;}
    .w100{width: 100%}
	.w60{width: 60%}
	.w50{width: 50%}
	.w40{width: 40%}
	.w30{width: 30%}
	.w20{width: 20%}
	.bg1{background-color: red}
	.bg{background-color: #f2f2f2;}
</style>
<body>
	<div>
        <div style="padding-top:250px">
        	<table style="width: 100%; margin-left:25.5%">
        		<tr>
        			<td style="width:49%; margin-left: 5px; height:62px; vertical-align: middle; text-align: center; ">
        				<strong>{{BUSSINESS}}</strong>
        			</td>
        			<td style="width:2%; height:62px; vertical-align: middle; text-align: center;">&nbsp;</td>
        			<td style="width:49%; height:62px; vertical-align: middle; text-align: center; ">
        				<strong>{{ESTABLISHMENT}}</strong>
        			</td>
        		</tr>
        		<tr>
        			<td colspan="3" style="height: 33px;"></td>
        		</tr>
        		<tr>
        			<td style="width:49%; margin-left: 5px; height:79px; vertical-align: middle; text-align: center; ">
        				<strong>{{OWNERNAME}}</strong>
        			</td>
        			<td style="width:2%; height:79px; vertical-align: middle; text-align: center;">&nbsp;</td>
        			<td style="width:49%; height:79px; vertical-align: middle; text-align: center;word-break: break-all;">
        				<strong>{{ADDRESS}}</strong>
        			</td>
        		</tr>
        		<tr>
        			<td colspan="3" style="height: 32px;"></td>
        		</tr>
        		<tr>
        			<td style="width:49%; margin-left: 5px; height:80px; vertical-align: middle; text-align: center; ">
        				<strong>{{PERMITNO}}</strong>
        			</td>
        			<td style="width:2%; height:80px; vertical-align: middle; text-align: center;">&nbsp;</td>
        			<td style="width:49%; height:80px; vertical-align: middle; text-align: center; ">
        				<strong>{{DATEISSUED}}</strong>
        			</td>
        		</tr>
        		<tr>
        			<td colspan="3" style="height: 32px;"></td>
        		</tr>
        		<tr>
        			<td colspan="3" style="width:100%;  height:63px; text-align: center;">
        				<strong>{{DATEEXPIRED}}</strong>
        			</td>
        		</tr>
        	</table>
		</div>
	</div>
</body>