<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        @page {sheet-size: A4; margin-top: 10mm; margin-bottom: 10mm; margin-left: 12mm; margin-right: 12mm; margin-header: 0mm;margin-footer: 0mm;}
        @page rotated {
            size: portrait;
        }
        @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
        * { margin: 0; padding: 0; }
        body { font-family: 'Montserrat', sans-serif;font-size: 12px; }
        p {margin: 0px}
        table td, table th { border: 1px solid black; padding: 5px; }
        .page-wrap { width: 800px; margin: 100px auto;}
        table { border-collapse: collapse; }
        h2, p, h1{margin: 0px; padding: 0px;}
    </style>
    <title>Fecalysis: {{fec_lab_num}}</title>
</head>
<body>    
    <watermarkimage src="{{watermark}}" alpha="0.1" position="55, 40" size="100,100" />
    <div width="100%" style="text-align:center; border:0px solid black; padding-bottom:10px; padding-top: 0px;">
        <div style="text-align:right; padding:0px; border:0px solid black; width:80px; float:left; margin-left:150px">
            <img src="{{logo}}" style="width:80px; height:80px;">
        </div>
        <div style="text-align:center; padding:0px; border:0px solid black; margin-left: -230px; width: auto; float: left;">
            <p style="">REPUBLIC OF THE PHILIPPINES</p>
            <p style="">PROVINCE OF NUEVA ECIJA</p>
            <p style="padding-bottom:10px">CITY OF PALAYAN</p>
            <p></p>
            <p><strong>CITY HEALTH OFFICE</strong></p>
            <p><strong>CLINICAL LABORATORY</strong></p>
        </div>
    </div>

    <div style="clear:both"></div>

    <table width="100%">
        <tr>
            <td style="padding:0px; width: 8%; border:none;">
                <strong>Lab. No.</strong>
            </td>
            <td style="padding:0px; border:none;">
                <strong>:</strong>
            </td>
            <td style="padding:0px; width: 38%; text-align: center; border:none; border-bottom:1px solid black;">
                <strong>{{fec_lab_num}}</strong>
            </td>
            <td style="padding:0px; width: 10%; border:none; text-align:right;">
                <strong>Age / Sex:</strong>
            </td>
            <td style="padding:0px; width: 18%; text-align: center; border:none; border-bottom:1px solid black;">
                <strong>{{age}} / {{gender}}</strong>
            </td>
            <td style="padding:0px; width: 5%; border:none; text-align: right;">
                <strong>Date:</strong>
            </td>
            <td style="padding:0px; width: 20%; text-align: center; border:none; border-bottom:1px solid black;">
                <strong>{{date}}</strong>
            </td>
        </tr>
    </table>

    <table width="100%">
        <tr>
            <td style="padding:0px; width: 8%; border:none;">
                <strong>Name</strong>
            </td>
            <td style="padding:0px; border:none;">
                <strong>:</strong>  
            </td>
            <td style="padding:0px; width: 40.8%; text-align: center; border:none; border-bottom:1px solid black;">
                <strong>{{name}}</strong>
            </td>
            <td style="padding:0px; width: 20%; border:none; text-align:right;">
                <strong>Requesting Physician:</strong>
            </td>
            <td style="padding:0px; width: 34.2%; text-align: center; border:none; border-bottom:1px solid black;">
                <strong>{{physician}}</strong>
            </td>
        </tr>
    </table>

    <div style="margin-top:10px; text-align:center;">
        <h2>FECALYSIS</h2>
    </div>

    <div style="clear:both"></div>

    <div style="width:100%; float:left;">
        <div style="width: 100%; float: left; margin-left:0px;">
            <p style="font-size: 13px;"><strong>PHYSICAL EXAMINATION</strong></p>
        </div>

        <div style="float: left; font-size: 13px; margin-left:70px; line-height: 25px; width: 100px;">
            <p>Color</p>
            <p>Consistency</p>
        </div>

        <div style="float: left; font-size: 13px; width: 200px; line-height: 20px; text-align:center;">
            <p style="font-weight: bold; border-bottom: 1px solid black;">{{fec_color}}&nbsp;<p>
            <p style="font-weight: bold; border-bottom: 1px solid black;">{{fec_consistency}}&nbsp;</p>
        </div>

        <div style="clear:both;"></div>

        <div style="width: 100%; float: left; margin-top:5px; margin-left:0px;">
            <p style="font-size: 13px;"><strong>MICROSCOPIC EXAMINATION</strong></p>
        </div>

        <div style="float: left; font-size: 13px; line-height: 22px; width: 180px;">
            <p style="">RESULTS: &nbsp;&nbsp;RBC</span></p>
            <p style="margin-left:68px;">WBC</p>
            <p style="margin-left:68px;">BACTERIA</p>
            <p style="margin-left:68px;">FAT GLOBULES</p>
        </div>

        <div style="float: left; font-size: 13px; width: 200px; line-height: 20px; text-align:center;">
            <p style="font-weight: bold; border-bottom: 1px solid black;">{{fec_rbc}} / HPF<p>
            <p style="font-weight: bold; border-bottom: 1px solid black;">{{fec_wbc}} / HPF</p>
            <p style="font-weight: bold; border-bottom: 1px solid black;">{{fec_bacteria}} / HPF<p>
            <p style="font-weight: bold; border-bottom: 1px solid black;">{{fec_fat_glob}} / HPF</p>
        </div>

        <div style="clear:both;"></div>

        <div style="float: left; font-size: 13px; line-height: 22px; width: 180px;">
            <p style="margin-left:68px;">PARASITE/S</p>
            <p style="margin-left:68px;">&nbsp;</p>
            <p style="margin-left:68px;">OTHERS</p>
        </div>

        <div style="float: left; font-size: 13px; width: 500px; line-height: 20px; text-align:center;">
            <p style="font-weight: bold; border-bottom: 1px solid black;">{{fec_parasite}}&nbsp;<p>
            <p style="font-weight: bold; border-bottom: 1px solid black;"> &nbsp;</br></p>
            <p style="font-weight: bold; border-bottom: 1px solid black;"> {{fec_others}}&nbsp;</p>
        </div>
    </div>
    <div style="width: 100%; float:left; margin-top: 55px;">
        <div style="width:50%; float:left;">
            <div style="width:300px;">
                <p style="border-bottom: solid 1px black; font-weight: bold; text-align: center; padding-left:20px padding-right:20px;">
                    <strong>&nbsp;{{medical_tech}}</strong>
                </p>
                <p style="text-align:center;">
                    {{med_tech_position}}
                </p>
            </div>
        </div>

        <div style="width:50%; float:left; text-align:right;">
            <div style="width:250px; float: right;">
                <p style="border-bottom: solid 1px black; font-weight: bold; text-align: center; padding-left:20px padding-right:20px;">
                    <strong>{{officer}}</strong>
                </p>
                <p style="text-align:center;">
                    {{officer_position}}
                </p>
            </div>
        </div>
    </div>
</body>
</html>







